*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}
.top{
    position: fixed;
    bottom: 2vh;
    right: 5vh;
}
.top i{
    font-size: 50px;
    color: #1d1d1f;
    opacity: 0.7;
    border-radius: 50%;
    box-shadow: 0 0 10px #1d1d1f;
    transition: 0.5s;
}
.top i:hover{
    box-shadow: 0 0 20px #1d1d1f;
    transform: translateY(-6px);
}
main{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    scroll-behavior: smooth;
}
section{
    scroll-snap-align: center;
}
.com a{
    align-self: baseline;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(image/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}
.header nav img{
    height: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.header nav .fas{
    display: none;
}
.topic{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.topic h1{
    color: #fff;
    font-size: 62px;
    margin: 0px 0 20px;
    padding: 10px;
}
.topic .btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 0;
    width: 25vw;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}
.topic .btn:hover{
    border: 1px solid rgba(244, 67, 54, 0.4);
    background: rgba(244, 67, 54, 0.4);
}
.topic .link{
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 700px){
    .topic h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgba(244, 67, 54, 0.7);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .header nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        text-align: center;
    }
}

h1{
    font-size: 30px;    
}
h2{
    font-size: 24px;
    font-weight: 500;
}
h3{
    font-size: 18px;
    font-weight: 400;
}
p{
    font-size: 14px;   
}
.com{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfd;
    color: #1d1d1f;
}
.container{
    width: 90%;
    margin: auto;
    text-align: center;
}
.row{
    padding-top: 5vh;
    display: flex;
    align-items: center;
    text-align: center;    
}
.row.left{
    flex-direction: row-reverse;
}
.info.img{
    flex-basis: 60%;
}
.info img{
    height: 60vh;
}
.info.content{
    flex-basis: 40%;
    align-self: start;
}
.right .info.content{
    padding-left: 20px;
}
.left .info.content{
    padding-right: 20px;
}
.info h1{
    padding-top: 25%;
}
.info p{
    padding-top: 20px;
}
.info.content.more{
    align-self: center;
    padding: 0;
}
.info.content.more h1{
    padding-top: 0;
}

@media(min-width: 1024px){
    .info h1 br{
        white-space: pre;
        display: none;
    }
}
@media(max-width: 920px){
    .row{
        flex-direction: column;
    }
    .row.left{
        flex-direction: column;
    }
    .info img{
        height: 30vh;
    }
    .right .info.content{
        padding-left: 0;
    }
    .left .info.content{
        padding-right: 0;
    }
    .info h1{
        font-size: 24px;
        padding-top: 5vh;
    }
    .info p{
        padding-top: 10px;
    }
}
@media(max-width: 700px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
}

.footer{
    height: 30vh;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer nav{
    width: 80%;
    margin: auto;
    text-align: center;
}
.footer h3{
    color: #fff;
    font-weight: 600;
    padding-top: 0.5%;
}
.footer p{
    color: #fff;
    padding: 5px;
}
.icons .fab{
    color: #fff;
    margin: 0 8px;
    cursor: pointer;
    padding: 5vh 0;
    font-size: 25px;
    transition: 0.5s;
}
.icons .fab:hover{
    transform: translateY(-6px);
}
.made-by p{
    color: #fff;
    padding: 0;
}

@media(max-width: 700px){
    .icons .fab{
        padding: 5vw 0;
    }
}